.places {
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 987px;
  max-width: 100%;
  margin: auto;
}
.places__cities {
  grid-area: texto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.places__place {
  display: grid;
  grid-template-areas:
    "title artist"
    "imagen texto"
    "button texto";
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 1fr 1fr;
  /*grid-template-rows: */
  max-width: 100%;
  width: 984px;
  gap: 48px;
  margin-top: 80px;
}

.places__place-title {
  grid-area: title;
  color: #ffffff;
  font-family: Inter, sans-serif;
  margin: 0;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
.places__image-place {
  grid-area: imagen;
  max-width: 100%;
  width: 460px;
  box-shadow: 5px -9px 3px #000;
}

.places__image-text {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  justify-content: center;
}
.places__artista {
  grid-area: artist;
  align-self: end;
}
.places__artista-title {
  color: #aaaaaa;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
}
.places__artista-name {
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
}

.places__city-info {
  grid-area: texto;
  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
}

.places__button {
  grid-area: button;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 13px 20px;
  gap: 10px;
  background: linear-gradient(90deg, #0278fe 0%, #003a7b 99.98%);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 100%;
  max-width: 289px;
  color: #ffffff;
  height: 48px;
  box-sizing: border-box;

  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 48px;
}
.places__button:hover {
  background: linear-gradient(90deg, #0278fe40 0%, #003a7b40 99.98%);
}

@media screen and (max-width: 768px) {
  .places__place {
    margin-top: 72px;
  }

  .places__image-place {
    width: 340px;
  }
  .places__place-title {
    font-size: 42px;
    padding: 0 10px;
  }
  .places__artista-title {
    padding: 0 10px;
  }
  .places__artista-name {
    padding: 0 10px;
  }
  .places__city-info {
    font-size: 16px;
    padding: 0 10px;
  }
  .places__button {
    font-size: 16px;
    padding: 13px;
  }
}

@media screen and (max-width: 550px) {
  .places__image-place {
    width: 320px;
  }
  .places__place-title {
    font-size: 32px;
    padding-bottom: 30px;
    line-height: 35px;
  }
  .places__place {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .places__artista {
    align-self: start;
  }

  .places__button {
    width: 288px;
    font-size: 14px;
  }

  .places {
    display: block;
  }
}
